* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 100px auto 50px;
    min-height: 100vh;
}

header {
    background-color: #8fbfdf;
    display: flex;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C7EAFA;
    background-image: url('blue-catpaw.png');
    background-repeat: repeat;
    background-size: 150px; /* Adjust size as needed */
    background-attachment: fixed;
}

footer {
    background-color: #dfdfe7;
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.overskrift-wrapper {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
}

.text-wrapper {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 40px;
    margin: 20px;
    width: 800px;
    background-color: rgb(229, 240, 250);
}

.main-picture {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

